{% extends 'base.html.twig' %}
{% block body %}
<article justify-content-center>
    <h2 class="text-center m-4">Titre de l'article</h2>
    <div class="metada text-center">Publié le 02-10-2020 par Lily</div>
    <div class="content text-center">
        <img class="mt-3 pt-3 pb-3" src="http://placehold.it/350x150" alt="">
        <p classe="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dicta ullam temporibus. Minus, tempora iusto.</p>
        <p classe="p-2">Placeat quos consequuntur optio, animi maiores hic praesentium cum! Nobis deserunt aspernatur id obcaecati voluptatibus.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore quisquam delectus exercitationem nobis rem, qui non dignissimos recusandae consectetur maiores, doloribus dolores cumque expedita quidem nostrum ex amet obcaecati quam ipsum reprehenderit officiis. Corrupti totam eos facilis veniam tempora ab aliquam expedita quae? Quos, delectus. Eos fuga cumque itaque?</p>
    </div>
</article>
{% endblock %}